<ZebraVision>
    <ZedIn>
        <brightness>2</brightness>
        <contrast>6</contrast>
        <hue>7</hue>
        <saturation>4</saturation>
        <gain>1</gain>
        <whiteBalance>3101</whiteBalance>
    </ZedIn>
    <CameraIn>
        <fps>30</fps>
        <width>640</width>
        <height>360</height>
    </CameraIn>
    <C920CameraIn>
        <brightness>128</brightness>
        <contrast>128</contrast>
        <saturation>128</saturation>
        <sharpness>128</sharpness>
        <gain>1</gain>
        <focus>1</focus>
        <autoExposure>3</autoExposure>
        <backlightCompensation>0</backlightCompensation>
        <whiteBalanceTemperature>0</whiteBalanceTemperature>
    </C920CameraIn>
</ZebraVision>
